/bin
/target

/.classpath
/.project
/.settings
/.factorypath
**/*.sh
**/*.wasm
**/*.html
**/*.js
**/*.wast

*.constraints
*.scope-graph
*.name-resolution
*.unifier
*.symbolic
*.gv
*.dot
*.pdf
*.wasm
*.html
*.wasm-out
*.wast
